.category-badge {
  background-image: linear-gradient(
    to top,
    var(--primary) 0%,
    var(--primary) 100%
  );
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  text-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.25);
  user-select: none;
  margin-top: 10px;
}

button[aria-label="open menu"] {
  background-color: var(--primary);
}

#category-select {
  width: 300px;
}

.category-delete {
  color: red;
  font-size: 0.5em;
  width: 5% !important;
}

.badge {
  font-size: 1.1em;
}
.outline {
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.356);
  text-shadow: 0 0 1px black;
}

.category-expand {
  font-size: 1.25em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}


#category-col {
  max-width: 300px;
}

#badge-col {
  width: 50%;
}

#category-label {
  display:none
}
